In [27]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [28]:
data = pd.read_csv("C:\\Users\\yume\\Desktop\\LinearRegression_Jupyter\\salary_data.csv")

In [29]:
x = data["YearsExperience"].values.reshape(-1,1)
y = data['Salary'].values.reshape(-1,1)

In [30]:
scaler = StandardScaler()
scaler.fit(x)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [31]:
x_scaled = scaler.transform(x)
x_scaled

array([[-1.51005294],
       [-1.43837321],
       [-1.36669348],
       [-1.18749416],
       [-1.11581443],
       [-0.86493538],
       [-0.82909552],
       [-0.75741579],
       [-0.75741579],
       [-0.57821647],
       [-0.50653674],
       [-0.47069688],
       [-0.47069688],
       [-0.43485702],
       [-0.29149756],
       [-0.1481381 ],
       [-0.07645838],
       [-0.00477865],
       [ 0.21026054],
       [ 0.2461004 ],
       [ 0.53281931],
       [ 0.6403389 ],
       [ 0.92705781],
       [ 1.03457741],
       [ 1.21377673],
       [ 1.32129632],
       [ 1.50049564],
       [ 1.5363355 ],
       [ 1.78721455],
       [ 1.85889428]])

In [32]:
from sklearn.linear_model import LinearRegression

In [33]:
reg = LinearRegression()
reg.fit(x_scaled,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [34]:
reg_summary = pd.DataFrame([['YearsExperience'],['bias']], columns = ['Features'])
reg_summary

          Features
0  YearsExperience
1             bias

In [35]:
from sklearn.feature_selection import f_regression

In [36]:
reg_summary['weights'] = reg.coef_[0], reg.intercept_

In [37]:
reg_summary

          Features                weights
0  YearsExperience  (26367.182443542435,)
1             bias             (76003.0,)

In [43]:
new_data = pd.DataFrame(data = [['6'],['7']], columns = ['YearsExperience'])
new_data

  YearsExperience
0               6
1               7

In [45]:
new_data_scaled = scaler.transform(new_data)
reg.predict(new_data_scaled)

array([[82491.9741274 ],
       [91941.93644885]])